{% extends 'frontend/base.html' %}
{% block 'title' %}Checkout{% endblock %}
{% load static %}
{% block 'content' %}
      <!-- breadcrumb-area-start -->
      <div class="breadcrumb__area pt-5 pb-5">
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                 <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                       <span class="tp-breadcrumb__active"><a href="index-2.html">Home</a></span>
                       <span class="dvdr">/</span>
                       <span>Checkout</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- breadcrumb-area-end -->

     <!-- coupon-area start -->
     <section class="coupon-area pt-10 pb-30">
        <div class="container">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-danger" role='alert'>
                        {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row">
           <div class="col-md-6">
              <div class="coupon-accordion">
                {% if user.is_authenticated  %}
                    
                    <!-- ACCORDION START -->
                    <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                    <div id="checkout-login" class="coupon-content">
                       <div class="coupon-info">
                          <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est
                                sit amet ipsum luctus.</p>
                          <form action="#">
                                <p class="form-row-first">
                                   <label>Username or email <span class="required">*</span></label>
                                   <input type="text" >
                                </p>
                                <p class="form-row-last">
                                   <label>Password <span class="required">*</span></label>
                                   <input type="text">
                                </p>
                                <p class="form-row">
                                   <button class="tp-btn tp-color-btn" type="submit">Login</button>
                                   <label>
                                      <input type="checkbox">
                                      Remember me
                                   </label>
                                </p>
                                <p class="lost-password">
                                   <a href="#">Lost your password?</a>
                                </p>
                          </form>
                       </div>
                    </div>
                    <!-- ACCORDION END -->
                    {% endif %}
              </div>
           </div>
           <div class="col-md-6">
              <div class="coupon-accordion">
                    <!-- ACCORDION START -->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                       <div class="coupon-info">
                          <form action="#">
                                <p class="checkout-coupon">
                                   <input type="text" placeholder="Coupon Code">
                                   <button class="tp-btn tp-color-btn" type="submit">Apply Coupon</button>
                                </p>
                          </form>
                       </div>
                    </div>
                    <!-- ACCORDION END -->
              </div>
           </div>
        </div>
     </div>
     </section>
     <!-- coupon-area end -->

     <!-- checkout-area start -->
     <section class="checkout-area pb-50">
        <div class="container">
            
           <form action="" method="post" id="myForm">
            {% csrf_token %}
              <div class="row">
               
                
                
                    <div class="col-lg-6 col-md-12">
                        {% if user.is_authenticated  %}
                        <p>Welcome, {{ user.username }}!</p>
                        <h3 class="tpdetails__title text-center">Addresses</h3>    
                        <div class="row justify-content-center">        
                        {% for item in add %}
                            <div class="col-lg-6 col-sm-12">

                            <div class="tptrack__content tpdetails__product">
                                <p class="text-left">

                                    <input type ="radio" class="for-check-input" name="custid" id='{{forloop.counter}}' value="{{item.id}}" /> Select Address
                                    </p>
                                Address : {{forloop.counter}} <br/>
                                <lable>Name : {{item.name}}</label> <br>
                                <lable>Locality : {{item.locality}}</label> <br>
                                <lable>City : {{item.city}}</label> <br>
                                <lable>Mobile : {{item.mobile}}</label> <br>
                                <lable>State : {{item.state}}</label> <br>
                                <lable>Zipcode : {{item.zipcode}}</label> <br>                   
                                
                            </div>
                            </div>
                            {% endfor %}
                        </div>

                        {% else %}
                        <p>Please log in to continue.</p>
                       <div class="checkbox-form">
                          <h3>Billing Details</h3>
                          <div class="row">
                                <div class="col-md-12">
                                   <div class="country-select">
                                      <label>Country <span class="required">*</span></label>
                                      <select>
                                            <option value="volvo">United States</option>
                                            <option value="saab">Algeria</option>
                                            <option value="mercedes">Canada</option>
                                            <option value="audi">Germany</option>
                                            <option value="audi2">England</option>
                                            <option value="audi3">Qatar</option>
                                            <option value="audi5">Dominican Republic</option>
                                      </select>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>First Name <span class="required">*</span></label>
                                      <input type="text" placeholder="" >
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>Last Name <span class="required">*</span></label>
                                      <input type="text" placeholder="" >
                                   </div>
                                </div>
                                <div class="col-md-12">
                                   <div class="checkout-form-list">
                                      <label>Company Name</label>
                                      <input type="text" placeholder="" >
                                   </div>
                                </div>
                                <div class="col-md-12">
                                   <div class="checkout-form-list">
                                      <label>Address <span class="required">*</span></label>
                                      <input type="text" placeholder="Street address" >
                                   </div>
                                </div>
                                <div class="col-md-12">
                                   <div class="checkout-form-list">
                                      <input type="text" placeholder="Apartment, suite, unit etc. (optional)" >
                                   </div>
                                </div>
                                <div class="col-md-12">
                                   <div class="checkout-form-list">
                                      <label>Town / City <span class="required">*</span></label>
                                      <input type="text" placeholder="Town / City" >
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>State / County <span class="required">*</span></label>
                                      <input type="text" placeholder="" >
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>Postcode / Zip <span class="required">*</span></label>
                                      <input type="text" placeholder="Postcode / Zip" >
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>Email Address <span class="required">*</span></label>
                                      <input type="email" placeholder="" >
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="checkout-form-list">
                                      <label>Phone <span class="required">*</span></label>
                                      <input type="text" placeholder="Postcode / Zip" >
                                   </div>
                                </div>
                                <div class="col-md-12">
                                   <div class="checkout-form-list create-acc">
                                      <input id="cbox" type="checkbox" >
                                      <label>Create an account?</label>
                                   </div>
                                   <div id="cbox_info" class="checkout-form-list create-account">
                                      <p>Create an account by entering the information below. If you are a returning
                                            customer please login at the top of the page.</p>
                                      <label>Account password <span class="required">*</span></label>
                                      <input type="password" placeholder="password" >
                                   </div>
                                </div>
                          </div>
                          <div class="different-address">
                                <div class="ship-different-title">
                                   <h3>
                                      <label>Ship to a different address?</label>
                                      <input id="ship-box" type="checkbox" >
                                   </h3>
                                </div>
                                <div id="ship-box-info">
                                   <div class="row">
                                      <div class="col-md-12">
                                            <div class="country-select">
                                               <label>Country <span class="required">*</span></label>
                                               <select>
                                                  <option value="volvo">bangladesh</option>
                                                  <option value="saab">Algeria</option>
                                                  <option value="mercedes">Afghanistan</option>
                                                  <option value="audi">Ghana</option>
                                                  <option value="audi2">Albania</option>
                                                  <option value="audi3">Bahrain</option>
                                                  <option value="audi4">Colombia</option>
                                                  <option value="audi5">Dominican Republic</option>
                                               </select>
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>First Name <span class="required">*</span></label>
                                               <input type="text" placeholder="" >
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>Last Name <span class="required">*</span></label>
                                               <input type="text" placeholder="" >
                                            </div>
                                      </div>
                                      <div class="col-md-12">
                                            <div class="checkout-form-list">
                                               <label>Company Name</label>
                                               <input type="text" placeholder="" >
                                            </div>
                                      </div>
                                      <div class="col-md-12">
                                            <div class="checkout-form-list">
                                               <label>Address <span class="required">*</span></label>
                                               <input type="text" placeholder="Street address" >
                                            </div>
                                      </div>
                                      <div class="col-md-12">
                                            <div class="checkout-form-list">
                                               <input type="text" placeholder="Apartment, suite, unit etc. (optional)" >
                                            </div>
                                      </div>
                                      <div class="col-md-12">
                                            <div class="checkout-form-list">
                                               <label>Town / City <span class="required">*</span></label>
                                               <input type="text" placeholder="Town / City" >
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>State / County <span class="required">*</span></label>
                                               <input type="text" placeholder="" >
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>Postcode / Zip <span class="required">*</span></label>
                                               <input type="text" placeholder="Postcode / Zip" >
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>Email Address <span class="required">*</span></label>
                                               <input type="email" placeholder="" >
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                            <div class="checkout-form-list">
                                               <label>Phone <span class="required">*</span></label>
                                               <input type="text" placeholder="Postcode / Zip" >
                                            </div>
                                      </div>
                                   </div>
                                </div>
                                <div class="order-notes">
                                   <div class="checkout-form-list">
                                      <label>Order Notes</label>
                                      <textarea id="checkout-mess" cols="30" rows="10"
                                            placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                   </div>
                                </div>
                          </div>
                       </div>
                       {% endif %}
                       {% comment %} {% if cart %}
                           <table class="table">
                            <tbody>
                                {% for item in cart %}
                                <tr>
                                   <td class="product-thumbnail">
                                      <a href="shop-details.html">
                                         <img src={{item.product.product_image.url}} style="width:40px" alt="">
                                      </a>
                                   </td>
                                   <td class="product-name">
                                      <a href="shop-details.html">{{item.product.title}}</a>
                                   </td>
                                   <td class="product-price">
                                      <span class="amount">${{item.product.discounted_price}}</span>
                                   </td>
                                   <td class="product-quantity">
                                       
                                    <input class="cart-input" id='{{item.product.id}}' type="hidden" value={{item.quantity}} pid={{item.product.id}} />
                                         
                                   </td>
                                  
                                  
                                </tr>
                                {% endfor %}
                                
                             </tbody>
                           </table>
                       {% endif %} {% endcomment %}
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                       <div class="your-order mb-30 ">
                          <h3>Your order</h3>
                          <div class="your-order-table table-responsive">
                                <table>
                                   <thead>
                                      <tr>
                                         <th class="product-name">Product</th>
                                         <th class="product-total">Total</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for item in cart %}
                                      <tr class="cart_item">
                                            <td class="product-name">
                                              {{item.product.title}} <strong class="product-quantity"> × {{item.quantity}}</strong>
                                            </td>
                                            <td class="product-total">
                                               <span class="amount">${{item.product.discounted_price}}</span>
                                            </td>
                                      </tr>
                                    {% endfor %}
                                   </tbody>
                                   <tfoot>
                                      <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">${{amount}}</span></td>
                                      </tr>
                                      <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                               <ul>
                                                  {% comment %} <li>
                                                        <input type="radio" name="shipping">
                                                        <label>
                                                           Flat Rate: <span class="amount">$40.00</span>
                                                        </label>
                                                  </li> {% endcomment %}
                                                  <li>
                                                        {% comment %} <input type="radio" name="shipping"> {% endcomment %}
                                                        <label> $40.00</label>
                                                  </li>
                                               </ul>
                                            </td>
                                      </tr>
                                      <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">${{totalamount}}.00</span></strong>
                                            </td>
                                      </tr>
                                   </tfoot>
                                </table>
                          </div>
                          <div class="payment-method">
                             <div class="accordion" id="checkoutAccordion">
                                <div class="accordion-item">
                                   <h2 class="accordion-header" id="checkoutOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bankOne" aria-expanded="true" aria-controls="bankOne">
                                      Direct Bank Transfer
                                      </button>
                                   </h2>
                                   <div id="bankOne" class="accordion-collapse collapse show" aria-labelledby="checkoutOne" data-bs-parent="#checkoutAccordion">
                                      <div class="accordion-body">
                                      Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
                                      </div>
                                   </div>
                                </div>
                                <div class="accordion-item">
                                   <h2 class="accordion-header" id="paymentTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment" aria-expanded="false" aria-controls="payment">
                                      Cheque Payment
                                      </button>
                                   </h2>
                                   <div id="payment" class="accordion-collapse collapse" aria-labelledby="paymentTwo" data-bs-parent="#checkoutAccordion">
                                      <div class="accordion-body">
                                      Please send your cheque to Store Name, Store Street, Store Town, Store
                                      State / County, Store
                                      Postcode.
                                      </div>
                                   </div>
                                </div>
                                <div class="accordion-item">
                                   <h2 class="accordion-header" id="paypalThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paypal" aria-expanded="false" aria-controls="paypal">
                                      PayPal
                                      </button>
                                   </h2>
                                   <div id="paypal" class="accordion-collapse collapse" aria-labelledby="paypalThree" data-bs-parent="#checkoutAccordion">
                                      <div class="accordion-body">
                                      Pay via PayPal; you can pay with your credit card if you don’t have a
                                      PayPal account.
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="order-button-payment mt-20">
                                <button type="submit" id = "rzp-button1" class="tp-btn tp-color-btn w-100 banner-animation">Place order</button>
                             </div>
                          </div>
                       </div>
                    </div>
              </div>
           </form>
        </div>
     </section>
     <!-- checkout-area end -->
{% endblock %}

{% block 'paymentgateway' %}
<script>
    var options = {
        "key": "rzp_test_O746Kv8zXAqf7i", // Enter the Key ID generated from the Dashboard
        "amount": "{{razorpayamount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "ORFARM PAYMENT",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            {% comment %} alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature) {% endcomment %}
            var form = document.getElementById("myForm")
            window.location.href=`{% url 'paymentdone' %}?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&cust_id=${form.elements['custid'].value}`
        },
        "prefill": {
            "name": "News9paper",
            "email": "nagesh.yelumala@gmail.com",
            "contact": "918143271426"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
</script>
{% endblock %}