{% extends 'frontend/base.html' %}
{% load static %}
{% block 'title' %} Home | All Shopping Products {% endblock %}

{% block 'slider' %}
      <!-- slider-area-start -->
      <section class="slider-area tpslider-delay"
      style="height: 660px;"
      >
        <div class="swiper-container slider-active">
           <div class="swiper-wrapper">
              <div class="swiper-slide ">
                 <div class="tpslider pt-90 pb-0 grey-bg" data-background={%  static "assets/img/slider/shape-bg.jpg" %}>
                    <div class="container">
                       <div class="row align-items-center">
                          <div class="col-xxl-5 col-lg-6 col-md-6 col-12 col-sm-6">
                             <div class="tpslider__content pt-20">
                                <span class="tpslider__sub-title mb-35">Top Seller In The Week</span>
                                <h2 class="tpslider__title mb-30">Choose Your Healthy Lifestyle.</h2>
                                <p>Presentation matters. Our fresh Vietnamese vegetable rolls <br> look good and taste even better</p>
                                <div class="tpslider__btn">
                                   <a class="tp-btn" href="shop-2.html">Shop Now</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-7 col-lg-6 col-md-6 col-12 col-sm-6">
                             <div class="tpslider__thumb p-relative pt-15">
                                <img class="tpslider__thumb-img" src={%  static "assets/img/slider/slider-bg-1.png" %} alt="slider-bg">
                                <div class="tpslider__shape d-none d-md-block">
                                   <img class="tpslider__shape-one" src={%  static "assets/img/slider/slider-shape-1.png" %} alt="shape">
                                   <img class="tpslider__shape-two" src={%  static "assets/img/slider/slider-shape-2.png" %} alt="shape">
                                   <img class="tpslider__shape-three" src={%  static "assets/img/slider/slider-shape-3.png" %} alt="shape">
                                   <img class="tpslider__shape-four" src={%  static "assets/img/slider/slider-shape-4.png" %} alt="shape">
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="swiper-slide">
                 <div class="tpslider pt-90 pb-0 grey-bg" data-background={%  static "assets/img/slider/shape-bg.jpg" %}>
                    <div class="container">
                       <div class="row align-items-center">
                          <div class="col-xxl-5 col-lg-6 col-md-6 col-sm-6">
                             <div class="tpslider__content pt-20">
                                <span class="tpslider__sub-title mb-35">Top Seller In The Week</span>
                                <h2 class="tpslider__title mb-30">Fresh Bread <br> Oatmeal Crumble. </h2>
                                <p>Presentation matters. Our fresh Vietnamese vegetable rolls <br> look good and taste even better</p>
                                <div class="tpslider__btn">
                                   <a class="tp-btn" href="shop-2.html">Shop Now</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-7 col-lg-6  col-md-6 col-sm-6">
                             <div class="tpslider__thumb p-relative">
                                <img class="tpslider__thumb-img" src={%  static "assets/img/slider/slider-bg-2.png" %} alt="slider-bg">
                                <div class="tpslider__shape d-none d-md-block">
                                   <img class="tpslider__shape-one" src={%  static "assets/img/slider/slider-shape-1.png" %} alt="shape">
                                   <img class="tpslider__shape-two" src={%  static "assets/img/slider/slider-shape-2.png" %} alt="shape">
                                   <img class="tpslider__shape-three" src={%  static "assets/img/slider/slider-shape-3.png" %} alt="shape">
                                   <img class="tpslider__shape-four" src={%  static "assets/img/slider/slider-shape-4.png" %} alt="shape">
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="swiper-slide">
                 <div class="tpslider pt-90 pb-0 grey-bg" data-background={%  static "assets/img/slider/shape-bg.jpg" %}>
                    <div class="container">
                       <div class="row align-items-center">
                          <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                             <div class="tpslider__content pt-20">
                                <span class="tpslider__sub-title mb-35">Top Seller In The Week</span>
                                <h2 class="tpslider__title mb-30">The Best <br> Health Fresh.</h2>
                                <p>Presentation matters. Our fresh Vietnamese vegetable rolls <br> look good and taste even better</p>
                                <div class="tpslider__btn">
                                   <a class="tp-btn" href="shop-2.html">Shop Now</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                             <div class="tpslider__thumb p-relative">
                                <img class="tpslider__thumb-img" src={%  static "assets/img/slider/slider-bg-3.png" %} alt="slider-bg">
                                <div class="tpslider__shape d-none d-md-block">
                                   <img class="tpslider__shape-one" src={%  static "assets/img/slider/slider-shape-1.png" %} alt="shape">
                                   <img class="tpslider__shape-two" src={%  static "assets/img/slider/slider-shape-2.png" %} alt="shape">
                                   <img class="tpslider__shape-three" src={%  static "assets/img/slider/slider-shape-3.png" %} alt="shape">
                                   <img class="tpslider__shape-four" src={%  static "assets/img/slider/slider-shape-4.png" %} alt="shape">
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tpslider__arrow d-none  d-xxl-block">
              <button class="tpsliderarrow tpslider__arrow-prv"><i class="icon-chevron-left"></i></button>
              <button class="tpsliderarrow tpslider__arrow-nxt"><i class="icon-chevron-right"></i></button>
           </div>
           <div class="slider-pagination d-xxl-none"></div>
        </div>
     </section>
     <!-- slider-area-end -->
{% endblock %}


{% block 'all-categories' %}
       <!-- category-area-start -->
       <section class="category-area grey-bg pb-40">
        <div class="container">
           <div class="swiper-container category-active">
              <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'VG' %}><img src={%  static "assets/img/catagory/category-1.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'VG' %}>Vegetables</a></h5>
                          <span class="category__count">05 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'FR' %}><img src={%  static "assets/img/catagory/category-2.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'FR' %}>Fresh Fruits</a></h5>
                          <span class="category__count">06 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'FD' %}><img src={%  static "assets/img/catagory/category-3.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'FD' %}>Fruit Drink</a></h5>
                          <span class="category__count">09 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'FB' %}><img src={%  static "assets/img/catagory/category-4.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'FB' %}>Fresh Bakery</a></h5>
                          <span class="category__count">11 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'BS' %}><img src={%  static "assets/img/catagory/category-5.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'BS' %}>Biscuits Snack</a></h5>
                          <span class="category__count">02 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'FM' %}><img src={%  static "assets/img/catagory/category-6.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'FM' %}>Fresh Meat</a></h5>
                          <span class="category__count">16 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'FM2' %}><img src={%  static "assets/img/catagory/category-7.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'FM2' %}>Fresh Milk</a></h5>
                          <span class="category__count">10 items</span>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide">
                    <div class="category__item mb-30">
                       <div class="category__thumb fix mb-15">
                          <a href={% url 'category' 'SF' %}><img src={%  static "assets/img/catagory/category-8.jpg" %} alt="category-thumb"></a>
                       </div>
                       <div class="category__content">
                          <h5 class="category__title"><a href={% url 'category' 'SF' %}>Sea Foods</a></h5>
                          <span class="category__count">11 items</span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- category-area-end -->
{% endblock  %}










